@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

/* Add this to your CSS file or Tailwind configuration */
.badge-secondary {
  font-size: 0.75rem; /* Adjust as needed */
  padding: 0.25rem 0.5rem; /* Adjust as needed */
}

.badge-outline {
  border-color: currentColor;
  background-color: transparent;
  color: currentColor;
}



